
<%= render 'layouts/banner', banner_title: "All Movie Lists", banner_subtitle: "Explore our collection of lists" %>


<div class="container my-3 px-0 ">
  <div class="row justify-content-between m-1">
      <%= link_to new_list_path, class: "text-decoration-none text-dark col-3" do %>
    <div class="button-17">Add a new list</div>
    <% end %>
  </div>



  <div class="cards mt-4">
    <% @lists.each do |list| %>
<div class="card-category list-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= list.photo.attached? ? cl_image_path(list.photo.key) : "https://image.tmdb.org/t/p/original/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg" %>')">

        <%= link_to list_path(list), class: "text-decoration-none text-light" do %>
        <div class=""><%= list.name %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
